services:
  goldframe:
    container_name: goldframe
    restart: unless-stopped

    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "127.0.0.1:3000:3000"

    environment:
      NODE_ENV: production
