name: Build & Push Docker (prod)

on:
  push:
    branches: [ "prod" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
             ghcr.io/bartoszciszek/gold-frame:latest
             ghcr.io/bartoszciszek/gold-frame:prod
             
      - name: Notify NUC to redeploy
        run: |
          curl -X POST https://goldframe.pl/hooks/goldframe-update

